body {
    background-color: #16243A;
    color: #f1eccf;
}

#x {
    background-color: #16243A;
    height: 400px;
    position: relative;
}

#x .icon {
    position: absolute;
    z-index: 1001;
    height: 4rem;
}

body .cursor {
    pointer-events: none;
  }
  body .cursor__ball {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  body .cursor__ball circle {
    fill: #f7f8fa;
  }

  .hidden {
      visibility: hidden;
  }

  .appear {
      visibility: visible;
  }